<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Emitters</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="container">
        <canvas 
        id="display-canvas" 
        width="512" 
        height="384"
        ></canvas>
    </div>

    <!-- form  -->
     <div id="app">
        <form 
        @submit.prevent="submitForm"
        >
            <div class="row">
                <div class="form-field subheader-text">
                    <button
                        class="add-emitter-button"
                        type="button"
                        @click="addEmitter()"
                    >Add new Emitter</button>
                </div>
            </div>
            <div 
            class="emitter-container"
            v-for="emitter in emitters"
            :key = emitter.id
            > 
                <div class="row">
                    <h3 class="header-text">Emitter Configuration</h3>
                    <div class="form-field subheader-text">
                        <button
                            type="button"
                            @click="removeEmitter(emitter)"
                        >delete</button>
                    </div>
                </div>
                <div class="row body-text">
                    <div class="form-field">
                        <label>
                            <span class="label">pos x</span>
                            <input 
                                type="number" 
                                min="0" 
                                :max="canvasWidth" 
                                v-model.number="emitter.positionX"
                            >
                            <input 
                                type="range" 
                                min="0" 
                                :max="canvasWidth" 
                                v-model.number="emitter.positionX"
                            >
                        </label>
                    </div>
                    <div class="form-field">
                        <label>
                            <span class="label">pos y</span>
                            <input 
                                type="number" 
                                min="0" 
                                :max="canvasHeight" 
                                v-model.number="emitter.positionY"
                            >
                            <input 
                                type="range" 
                                min="0" 
                                :max="canvasHeight" 
                                v-model.number="emitter.positionY"
                            >
                        </label>
                    </div>
                </div>
                <div class="row body-text">
                    <div class="form-field">
                        <label>
                            <span class="label">interval</span>
                            <input 
                                type="number" 
                                min="5" 
                                max="1000" 
                                v-model.number="emitter.interval"
                            >
                            <input 
                                type="range" 
                                min="5" 
                                max="1000" 
                                v-model.number="emitter.interval"
                            >
                        </label>
                    </div>
                </div>
                <div class="row body-text">
                    <div class="form-field">
                        <label>
                            <span class="label">particleWidth</span>
                            <input 
                                type="number" 
                                min="5" 
                                max="100" 
                                v-model.number="emitter.particleWidth"
                            >
                            <input 
                                type="range" 
                                min="5" 
                                max="100" 
                                v-model.number="emitter.particleWidth"
                            >
                        </label>
                    </div>
                    <div class="form-field">
                        <label>
                            <span class="label">particleHeight</span>
                            <input 
                                type="number" 
                                min="5" 
                                max="100" 
                                v-model.number="emitter.particleHeight"
                            >
                            <input 
                                type="range" 
                                min="5" 
                                max="100" 
                                v-model.number="emitter.particleHeight"
                            >
                        </label>
                    </div>
                </div>
                <div class="row body-text">
                    <div class="form-field">
                        <label>
                            <span class="label">particleColor</span>
                            <input 
                                type="color"
                                v-model="emitter.particleColor"
                            >
                        </label>
                    </div>
                    <div class="form-field">
                        <label>
                            <span class="label">particleSpeed</span>
                            <input 
                                type="number" 
                                min="5" 
                                max="100" 
                                v-model.number="emitter.particleSpeed"
                            >
                            <input 
                                type="range" 
                                min="5" 
                                max="100" 
                                v-model.number="emitter.particleSpeed"
                            >
                        </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/gl-matrix@3.4.3/gl-matrix.js"></script>
    
    <script src="./blockemitter.js"></script>
</body>
</html>